<header>
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div id="top_menu" class="container">  
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <strong>Menu</strong>
        </button>
        <%= link_to refinery.root_path, class: "brand" do %>
          <%= image_tag "LogoMobile.png", { id: "logo", alt: "Discover New Pathways" } %>
        <% end %>
        <div class="nav-collapse collapse">        
          <%= render partial: "/refinery/menu", locals: { roots: refinery_menu("top_menu"), 
                                                          css: "pull-right" } %>
        </div>
      </div>
      <div class="nav-collapse collapse">
        <!-- <div id="page_menu"> -->
          <div id="page_menu" class="container">  
            <%= render partial: "/refinery/menu", locals: { roots: refinery_menu("page_menu") } %>
          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
    <!-- <div class="navbar navbar-inverse navbar-static-top"> -->
      <!-- <div id="page_menu" class="navbar-inner"> -->
    <!-- </div> -->
</header>