<header id="header" class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <h1 id='logo'>
        <%= link_to refinery.root_path do %>
          <%= image_tag("dnp.jpg", alt: Refinery::Core.site_name, class: "banner") %>
        <% end %>
      </h1>
      <%= render partial: '/refinery/menu', locals: { roots: refinery_menu('top_menu'), 
      												  css: "pull-right" } %>
    </div>
  </div>
  <div class="navbar-inner">
    <div class="container">
      <%= render partial: '/refinery/menu', locals: { roots: refinery_menu('page_menu') } %>
    </div>
  </div>
</header>
