<header>
  <div class="navbar navbar-static-top">
    <div id="top_menu" class="navbar-inner">
      <div class="container">
        <%= link_to refinery.root_path, id: "logo" do %>
          <%= image_tag "dnp.jpg", alt: Refinery::Core.site_name  %>
        <% end %>
  	  <%= render partial: "/refinery/menu", locals: { roots: refinery_menu("top_menu"), 
  	  												                        css: "pull-right" } %>
      </div>
    </div>
  </div>
  <div class="navbar navbar-static-top navbar-inverse">
    <div id="page_menu" class="navbar-inner">
      <div class="container">
        <%= render partial: "/refinery/menu", locals: { roots: refinery_menu("page_menu") } %>
      </div>
    </div>
  </div>
</header>


