@import "bootstrap";

.banner {
  float: left;
  width: 345px;
  height: 92px;
  background: url(images/logo-main.png) no-repeat 0 50%;
  text-indent: -9999px;
  overflow: hidden;
}

// body {
//   padding-top: 100px;
// }