@import "bootstrap";

$grayMediumLight: #eaeaea;
// $grayDark: #555;

#logo {
  float: left;
  width: 345px;
  height: 92px;
  margin-right: 10px;
  padding-top: 9px;
  // background: url(images/logo-main.png) no-repeat 0 50%;
  // text-indent: -9999px;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'Montserrat, sans-serif'
}

p {
  color: $gray;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  small { 
    float: left; 
  }
}

// Menus

#top_menu {

}

#page_menu {
  
}

// body {
//   padding-top: 100px;
// }