<% content_for :body do %>
  <div class="container">
    <div class="row">
      <div class="span6">
        <%= render "inquiry_form" %>
      </div>
      <div class="span6">
        <%= render "contact" %>
      </div>
    </div>
  </div>
<% end %>
<%= render "/refinery/content_page" %>